body, html {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  height:100%;
}

.navbar {
    margin-bottom: 0;
}
.img-responsive {
    margin: 0 auto;
}

.recipe-container {
    padding: 10px;
}
.stretch {
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 400px){
  #fridge-list-container {
    height: 200px;
  }
  #fridge-list {
    overflow-y: scroll; 
    height: 200px;
  }
}

#smart-recipe-book {
    width: 100%;
    height: 100%;
    margin: auto;       /*Stretches row fully across screen*/
    padding: 0;         /*Stretches list fully across screen*/
    position: absolute;
}

#smart-recipe-book-lists {
    margin: auto;       /*Stretches row fully across screen*/
    padding: 0;         /*Stretches list fully across screen*/
}


#fridge-list-container, #recipe-list-container, #shopping-list-container {
    padding: 0;         /*Stretches list fully across screen*/
    height: 100%;       /*Required to allow #fridge-list to scroll*/
}

.list {
    position: relative;
    overflow-y: auto; 
    text-align: center;
    padding: 0;         /*Stretches list fully across screen*/
    height: 100%;
}

#fridge-list {
}


#recipe-list {
}

#shopping-list {
}

#fridge-list-title, #fridge-list-title-header,
#recipe-list-title, #recipe-list-title-header,
#shopping-list-title, #shopping-list-title-header {
    margin: 0;       /*Stretches row fully across screen*/
    padding: 10px;         /*Stretches list fully across screen*/
}


#srb-searchbar {
    width: 330px;
}

